.container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  justify-content: space-between;
  padding: 80px;

  @media (max-width: 1439px) {
    flex-direction: column;
    padding: 36px 16px 56px 16px;
    justify-content: start;
    gap: 32px;
  }
}

.title {
  font-size: 128px;
  line-height: 128px;
  font-weight: 600;
  color: var(--graphite);

  @media (max-width: 1439px) {
    font-size: 64px;
    line-height: 64px;
  }
}

.faqContainer {
  width: 620px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 375px;

  @media (max-width: 1439px) {
    width: 100%;
  }
}
